<!DOCTYPE html>
<html>
<body>

<h1><center> Edit photo <%= @photo.name%> </center></h1>
<%= link_to 'Back to Home', welcome_index_path %>
<br><br>

<div style="width: 100%;overflow:auto;">
    <div align="rigth" style="float:left; width: 80%">
      <img src="/sample/<%=@photo.name%>", WIDTH=20%, HEIGHT=20%>
      
      <h2> Tags: </h2>
      
      <% if @photo.keyword_list.empty? %>  No tags
      <% else %> 
        <% @photos.keyword_list do |tag| %>
           <%= tag %> 
	   <br>
        <% end %>
      <% end  %>
      
    </div>
    <div align="left" style="float:right;">
      
      <h2>Select tags from: </h2>
      <br>
      <% if @available_tags.empty? %> No keywords known
      <% else %>   
          <% @available_tags.each do |tag| %>
          <li>
          <%= check_box_tag 'tag_with[]', tag.id -%>
          <%= h tag.keyword -%>
          </li>
        <% end %>
      <% end %>
    </div>
    
</body>
</html>
